<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="{{ version }}">
    <meta name="build" content="{{ build_time }}">
    <meta name="keywords" content="图片,画廊,收集">
    <meta name="copyright" content="MoYan">
    <meta name="renderer" content="webkit">

    <link rel="icon" href="favicon.png" type="image/png">

    <title>{{ name }} - {% block title %}{% endblock title %} </title>
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/statics/css/base.css">
    <link rel="stylesheet" href="statics/css/bs4pop-1.1.css">
    {% block css %}{% endblock css %}

    {% block header %}{% endblock header %}
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light cont">
        <div class="container">
            <h1><a class="navbar-brand fs-4" href="/">{{ name }}</a></h1>
            <h2 class="nav-item nav-link"><a class="nav-link link-secondary" href="/search.html">搜索</a></h2>
            <!--<h2 class="nav-item nav-link"><a class="nav-link link-secondary" href="/toolbox.html">工具箱</a></h2>-->
            <h2 class="nav-item nav-link"><a class="nav-link link-secondary" href="/about.html">关于</a></h2>
        </div>

    </nav>

    {% block content %}{% endblock content %}

    <script src="/statics/js/jquery-3.7.1.min.js"></script>
    <script src="/statics/js/lozad-1.16.0.min.js"></script>
    <script src="/statics/js/bootstrap.bundle.min.js"></script>
    <script src="/statics/js/spider.js"></script>
    <script src="/statics/js/metadata.js"></script>
    <script src="/statics/js/bs4pop-1.1-min.js"></script>
    {% block js %}{% endblock js %}

</body>

</html>