.cards {
    margin-bottom: 1vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px #999;
    background-color: #fff;
    /* 默认背景色为白色 */
}

.cards-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cards-body {
    padding: 10px;
}

.cards-text {
    font-size: 0.7rem;
    color: #777;
}

/* 暗黑模式下的调整 */
@media (prefers-color-scheme: dark) {
    .cards {
        background-color: #222;
        /* 暗色背景 */
        border-color: #555;
        /* 暗色边框 */
        box-shadow: 0 4px 4px #888;

    }

    .cards-text {
        color: #aaa;
        /* 暗色下的文字颜色 */
    }

    .cards-body {
        background-color: #222;
        /* 暗色背景 */
    }

}